body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 50px;
}
h1 {
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-right: 10px;
    margin-left: -10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.weather-info {
    margin-top: 20px;
}
#location {
    font-weight: bold;
}
#dateTime, #temperature, #humidity, #windSpeed {
    margin-top: 10px;
}
#weatherIcon {
    font-size: 48px;
}
footer .footer-text{
    
    width: 100%;
    height: 4rem;
    position:relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

a{
    text-decoration: none;
    color: black;
    text-shadow:  0px px 10px #ccc;
}
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
}
